    <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #74c69d">
      <a class="navbar-brand">Welcome!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{%url 'home:index'%}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'home:skills'%}">Skills</a>
          </li>
        </ul>
      </div>
    </nav>
