<!DOCTYPE html>
<html lang="en">
{%load static%}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">

    <title>Welcome</title>
  </head>

  <body>
  {% include 'home/base.html' %}
    <div class="d-flex flex-column my-flex-container2">
      <div class="image">
        <img src="\static\home\images\FR36.jpg" alt="ini foto" width="230" height="350">
      </div>
      <div>
      <table border="0px" id="spaces">
        <tbody>
                <tr>
                    <td>
                        <a href=https://twitter.com/grassterra>
                            <img src="\static\home\images\twitter.png" alt="twatter" width="50" height="50">
                        </a>
                    </td>
                    <td>
                        <a href=https://steamcommunity.com/id/grassterra>
                            <img src="\static\home\images\steam.png" alt="stim" width="50" height="50"> 
                        </a>
                    </td>
                    <td>
                        <a href=https://www.instagram.com/grassterra/>
                            <img src="\static\home\images\instagram.png" alt="dead social media" width="50" height="50">
                        </a>
                    </td>
                    <td>
                        <a href=https://gitlab.com/Grassterra>
                            <img src="\static\home\images\gitlab.png" alt="stim" width="50" height="50"> 
                        </a>
                    </td>
        </tbody>
      </table>
      </div>
    </div>
    <div class="d-flex flex-column my-flex-container">
      <h2>Hello!</h2>
      <div class="p-2 my-flex-item">I'm Muhammad Aditya Pratama Dungga, and usually called Adit. Currently, I’m a Sophomore at University of Indonesia, majoring in Information System. I also have an interest in Gacha Games.</div>
      <div>
      <table border="2px solid black">
            <tbody>
                <tr id="id1">
                    <td rowspan='4'>Education History</td>
                    <td>SDIT Sabilina</td>
                <tr id="id1">
                    <td>SMPI Al-Azhar 19</td>
                <tr id="id1">
                    <td>SMAN 48 Jakarta</td>
                <tr id="id1">
                    <td>University of Indonesia</td>
            </tbody>
        </table>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>