<!DOCTYPE html>
<html lang="en">
{%load static%}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">

    <title>My Skills</title>
  </head>

   <body>
    {% include 'home/base.html' %}
    <div class="d-flex flex-row justify-content-between my-flex-container3">
        <div class="my-flex-item">
            <div class="image" id="justify"><img src="\static\home\images\Python.png" width="200" height="200" style="center"></div>
            <div id="justify"> I can do basic programming with Python and Java language.</div>
        </div>
        <div class="my-flex-item" >
            <div class="image" id="justify"><img src="\static\home\images\fight.png" width="200" height="200"></div>
            <div id="justify"> Brawlhalla's top 0.7% player, ranked 65th on last SEA Summer Championship.</div>
        </div>
        <div class="my-flex-item">
            <div class="image" id="justify"><img src="\static\home\images\music.png" width="200" height="200"></div>
            <div id="justify"> Able to play most band's instrument, especially Bass. I can also compose some simple music.</div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>