body {
    background-color: #D8F3DC;
}

.my-flex-container {
    background: #95D5B2;
    min-height: 300px;
    width: 60%;
    min-width: 250px;
    max-width: 700px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
    padding: 5 px;
}

.my-flex-container2 {
    background: #95D5B2;
    min-height: 500px;
    width: 40%;
    min-width: 250px;
    max-width: 400px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 5 px;
}

.my-flex-container3 {
    background: #95D5B2;
    min-height: 300px;
    width: 75%;
    min-width: 250px;
    max-width: 1000px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 5 px;
    justify-content: center;
}

.my-flex-item {
    background-color: #95D5B2;
    color: black;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
}

h2 {
    margin-left: 5px;
}

table tr#id1 {
    background-color: #2D6A4F;
    color: #FFFFFF;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.image {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

#justify {
    margin: auto;
    text-align: center;
    justify-content: center;
}

table {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

table#spaces {
    border-collapse: separate;
    border-spacing: 15px 0;
}